html,
body {
  height: 100%;
}
body {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
}
/* ---------------------------
   Home/Index Page
--------------------------- */

/* Nav Bar */
#main-nav {
  background-color: #3b3b3b;
  color: white;
  text-align: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  padding: 12px;
}

#main-nav a {
  color: white;
  text-decoration: none;
}

#main-nav a:hover {
  text-decoration: underline;
}

/* Footer */
#main-footer {
  background-color: #3b3b3b;
  color: white;
  margin-top: 40px;
  padding: 15px 0;
}

.footer-content {
  width: 70%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-center a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.footer-center a:hover {
  text-decoration: underline;
}

.footer-left,
.footer-right {
  font-size: 14px;
}

/* Hero Section */
.hero-box {
  text-align: center;
  border: 2px solid black;
  background-color: #636363;
  margin-top: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: white;
}

#hero-dash,
#hero-about {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
}

#hero-dash:hover,
#hero-about:hover {
  background-color: #222222;
  box-shadow: 0 0 0 5px #3b3b3b;
  color: white;
}

.nav-btns-container {
  display: flex;
  gap: 2%;
  justify-content: center;
}

/* Explanation Section */
.explan-box {
  text-align: center;
  border: 2px solid black;
  background-color: #636363;
  margin-top: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: white;
}

.explan-cards {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.explan-search-box,
.explan-visual-box {
  flex: 1;
  background-color: #3b3b3b;
  padding: 15px;
  border-radius: 25px;
}

/* Tech & Data Section */
.tech-data-box {
  text-align: center;
  border: 2px solid black;
  background-color: #636363;
  margin-top: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: white;
}
/* ---------------------------
   About Page
--------------------------- */
/* Page header */
.content {
  max-width: 900px;
  margin: 0px auto;
}

.page-header {
  padding: 40px 20px;
  text-align: center;
}

/* About section */
.about-section li {
  margin-bottom: 8px;
}
